*~
.DS_Store

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

dist

.yarn
.pnp.cjs
.pnp.loader.mjs
yarn.lock

go.work
**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json

*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

kind.test
terraform-provider-kind