name: Tests

on:
  pull_request:
    paths-ignore:
      - "README.md"
  push:
    branches:
      - master
    paths-ignore:
      - "README.md"

env:
  GO_VERSION: "1.25"

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          go-version-file: "go.mod"
          cache: true
      - run: go mod download
      - run: go build -v .

  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          go-version-file: "go.mod"
          cache: true
      - run: go mod download
      - run: go test -v -cover -timeout=120s ./...

  acceptance-test:
    name: Acceptance Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          go-version-file: "go.mod"
          cache: true
      - name: Setup Kind
        uses: helm/kind-action@v1
        with:
          cluster_name: test-cluster
      - run: go mod download
      - run: TF_ACC=1 go test -v -cover -timeout=20m ./...
        env:
          TF_ACC: "1"
